html{
    scroll-behavior: smooth;
}

.header {
    height: 70px;
    background-color: dodgerblue;
    position: sticky;
    top: 0;

}

.header__nav {
    display: flex;
    
}

.main__section {
    scroll-margin-top: 70px;
    min-height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    
}

#main__section__prof div {
    border: 1px solid black;
}

.main__section h2 {
    /* border: 1px solid black; */
    text-align: center;
}

#main__section__prof {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.prof__card__photo {
    background: url(imagens/pexels-amir-1183434.jpg) no-repeat center center/cover;
    height: 250px;
    width: 200px;
}

.prof__card__text {
    font-size: 14px;
    text-align: center;
    background-color: brown;
    color: white;
}